<form class="form">
        <div class="email">
          <label for="inputemail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="password">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4">
          </div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-outline-secondary" href="./groups" role="button">Sign-In</a>
          </div>
      </form>

<script src="/js/login.js"></script>
