<form class="form signup">
        <div class="name">
          <label for="inputfirtName4" class="form-label">First Name</label>
          <input type="firstName" class="form-control" id="inputfirstName4">
        </div>
        <div class="lastname">
          <label for="inputfirtlastName4" class="form-label">Last Name</label>
          <input type="lastName" class="form-control" id="inputlastName4">
        </div>
        <div class="activity">
            <label for="inputActivity" class="form-label">Activity</label>
            <select id="inputActivity" class="form-select">
              <option selected>Select Activity</option>
               <option>Basketball</option>
                <option>Biking</option>
                <option>Skating</option>
            </select>
          </div>
        <div class="email">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="password">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4">
          </div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-secondary signup" role="button" type="submit">Register</button>
          </div>
      </form>
<script src="/js/login.js"></script>
